@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
#account .account__wrapper--right .account__button button, #login-section .login__wrapper--right form button, .products__more--btn {
  padding: 16px 48px;
  background-color: #DB4444;
  color: #F5F5F5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
}

.container {
  width: 81.25%;
  max-width: 1440px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    width: 85%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 90%;
  }
}

.df {
  display: flex;
  align-items: center;
}

main {
  padding-top: 80px;
}

.back-top {
  position: fixed;
  width: 35px;
  height: 35px;
  font-size: 20px;
  bottom: 20px;
  right: 20px;
  background: green;
  border-radius: 50%;
  color: #ffffff;
  display: none;
  justify-content: center;
  align-items: center;
}

.show__back-top {
  display: flex;
}

.dropdown {
  position: relative;
  padding: 8px;
  display: inline-block;
  cursor: pointer;
}
.dropdown__text {
  font-size: 16px;
  font-weight: 500;
}
.dropdown__icon {
  font-size: 14px;
  display: inline-block;
  transition: 0.8s;
}
.dropdown__list {
  position: absolute;
  width: 100%;
  top: 110%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 1s;
  transform: scale(0);
  z-index: 999;
  display: flex;
  flex-direction: column;
}
.dropdown__list__item {
  border-radius: 2px;
  padding: 5px;
}
.dropdown__list__item:hover {
  background: green;
  color: #ffffff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: white;
  color: #394149;
  border-bottom: 1px solid gray;
}
.header__top {
  background: #000;
}
.header__top__item {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 12px 0;
}
@media (max-width: 750px) {
  .header__top {
    display: none;
  }
}
.header__top p {
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 400;
}
.header__top a {
  color: #FAFAFA;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1.5px solid #FAFAFA;
}
.header .header__navbar {
  justify-content: space-between;
  padding: 30px 0 16px;
}
.header__logo {
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__btns__search {
  position: absolute;
  right: 10px;
  top: 30%;
}
.header__btns__inp {
  position: relative;
}
.header__btns input {
  outline: none;
  border: none;
  background: rgb(243, 241, 241);
  padding: 10px 35px 10px 10px;
  border-radius: 4px;
  width: 240px;
}
.header__img__icon {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
}
.header__list {
  gap: 20px;
}
.header__item {
  font-weight: 600;
  padding: 4px 0 1px;
  transition: 0.3s;
  border-bottom: 2px solid transparent;
}
.header__item:hover {
  border-color: gray;
}
.header .loginBtn {
  background: green;
  color: white;
  font-size: 14px;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.4s;
}
.header .loginBtn:hover {
  color: #ffffff;
  background: green;
}
.header__item--close {
  font-size: 20px;
  color: red;
  display: none;
  cursor: pointer;
}
.header__hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: #ffffff;
}
.header__hamburger span {
  width: 25px;
  height: 3px;
  background: #394149;
  border-radius: 2px;
}
@media (max-width: 700px) {
  .header__btns__inp {
    display: none;
  }
  .header__btns img {
    display: none;
  }
}

.shop__link {
  right: 200px;
}
.shop__link span {
  position: absolute;
  top: 0;
  font-weight: 600;
  color: green;
  padding-top: 10px;
}

.show__header__shrink {
  padding: 0;
  box-shadow: 0px 0px 10px rgb(188, 185, 185);
  background: #ffffff;
}

@media (max-width: 1000px) {
  .header__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    background: #ffffff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 10px green;
    transition: 0.5s;
    z-index: 9999;
  }
  .header__hamburger {
    display: flex;
  }
  .header__show__list {
    left: 0;
  }
  .header__item--close {
    position: absolute;
    display: block;
    color: red;
    top: 15px;
    right: 20px;
  }
  .header__show__left {
    left: -100%;
  }
}
@media (max-width: 360px) {
  .header__list {
    width: 80%;
  }
}
.loading__card {
  box-shadow: 1px 1px 10px rgb(189, 186, 186);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  height: 350px;
  width: 100%;
  max-width: 270px;
}
.loading__card__info {
  padding: 20px;
  height: 300px;
}
.loading__card__img {
  width: 100%;
  height: 50%;
}
.loading .bg__animation {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}
@keyframes bgMove {
  to {
    background-position: 200%;
  }
}

.hero {
  margin-top: 120px;
  background: #000;
  color: white;
  padding: 60px;
  display: flex;
  align-items: center;
  gap: 35px;
}
.hero__info__top {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero__info__title {
  font-size: 48px;
  font-weight: 600;
  padding: 20px 0;
  width: 100%;
  max-width: 284px;
}
.hero__info__link {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero__img img {
  width: 100%;
}
@media (max-width: 900px) {
  .hero__info__title {
    font-size: 36px;
  }
}
@media (max-width: 800px) {
  .hero {
    flex-direction: column-reverse;
  }
}
@media (max-width: 450px) {
  .hero {
    margin-top: 80px;
  }
  .hero__info__title {
    font-size: 28px;
  }
}

#category {
  padding-top: 60px;
  padding-bottom: 70px;
}
#category .category__icon {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  color: var(--button-color);
  margin-bottom: 24px;
}
#category .category__title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 60px;
}
#category .category__cards__wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 30px;
  padding-bottom: 70px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1882352941);
}
#category .category__cards__wrapper .category__card {
  width: 100%;
  max-width: 170px;
  padding: 25px 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}
#category .category__cards__wrapper .category__card:hover {
  background-color: #DB4444;
  fill: white;
}
#category .category__cards__wrapper .category__card:hover p {
  color: #fafafa;
  transition: all 0.2s ease;
}
#category .category__cards__wrapper .category__card:hover svg path {
  stroke: white;
}
#category .category__cards__wrapper .category__card:hover svg line {
  stroke: white;
}
#category .category__cards__wrapper p {
  margin-top: 16px;
}
@media (max-width: 1150px) {
  #category .category__cards__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 550px) {
  #category .category__cards__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

.products, .loading {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
  padding: 50px 0;
}
.products .product__card, .loading .product__card {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  max-width: 270px;
  border-radius: 8px;
  transition: 0.3s;
}
.products .product__card:hover, .loading .product__card:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transform: scale(1.02);
}
.products .product__card:hover .product__card__image__btn, .loading .product__card:hover .product__card__image__btn {
  bottom: 0;
}
.products .product__card__image, .loading .product__card__image {
  width: 100%;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.3333333333);
  position: relative;
  overflow: hidden;
}
.products .product__card__image img, .loading .product__card__image img {
  height: 90%;
  width: 100%;
  padding: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
.products .product__card__image__like, .loading .product__card__image__like {
  position: absolute;
  top: -15px;
  right: -15px;
  transition: 0.3s;
  font-size: 20px;
  cursor: pointer;
}
.products .product__card__image:hover .product__card__image__like, .loading .product__card__image:hover .product__card__image__like {
  top: 15px;
  right: 15px;
}
.products .product__card__image__btn, .loading .product__card__image__btn {
  padding: 8px 12px;
  border: none;
  background: #000;
  color: white;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  border-radius: 5px 5px 8px 8px;
  transition: 0.2s;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.products .product__card__image__btn:hover, .loading .product__card__image__btn:hover {
  background: #646363;
}
.products .product__card__info, .loading .product__card__info {
  padding: 25px;
}
.products .product__card__info__title, .loading .product__card__info__title {
  font-size: 24px;
  font-weight: 400;
}
.products .product__card__info__text, .loading .product__card__info__text {
  font-size: 16x;
  font-weight: 500;
  color: red;
}
.products .product__card:hover__image__btn, .loading .product__card:hover__image__btn {
  display: block;
}
@media (max-width: 1300px) {
  .products, .loading {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .products, .loading {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 580px) {
  .products, .loading {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .products .product__card, .loading .product__card {
    max-width: 100%;
  }
}

.products__more--btn {
  display: block;
  margin: 0 auto 80px;
}
.products__more--btn:hover {
  background-color: #E07575;
}

#buy {
  padding-bottom: 70px;
}
#buy .buy__wrapper {
  background-color: #000;
  display: flex;
  align-items: center;
  gap: 50px;
}
#buy .buy__wrapper .buy__wrapper--right {
  padding-top: 69px;
  padding-left: 56px;
  padding-bottom: 69px;
  width: 100%;
  max-width: 480px;
}
#buy .buy__wrapper .buy__wrapper--right > p {
  font-size: 16px;
  font-weight: 600;
  color: #0f6;
  margin-bottom: 32px;
}
#buy .buy__wrapper .buy__wrapper--right h2 {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 32px;
}
@media (max-width: 600px) {
  #buy .buy__wrapper .buy__wrapper--right h2 {
    font-size: 28px;
  }
}
#buy .buy__wrapper .buy__wrapper--right-time {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
#buy .buy__wrapper .buy__wrapper--right-time > div {
  width: 62px;
  height: 62px;
  background-color: #fafafa;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
}
#buy .buy__wrapper .buy__wrapper--right-time > div h5 {
  font-weight: 600;
}
#buy .buy__wrapper .buy__wrapper--right-time > div p {
  font-size: 11px;
}
#buy .buy__wrapper .buy__wrapper--right button {
  padding: 16px 48px;
  font-weight: 500;
  background-color: #0f6;
  border: none;
  border-radius: 4px;
  color: #fafafa;
  cursor: pointer;
}
#buy .buy__wrapper .buy__wrapper--left img {
  width: 90%;
  padding: 20px;
}
@media (max-width: 1000px) {
  #buy {
    margin-top: 100px;
  }
  #buy .buy__wrapper {
    flex-direction: column;
  }
}

.service {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.service__item {
  text-align: center;
}
.service__item__title {
  font-size: 20px;
  font-weight: 600;
  padding: 24px 0 8px;
}
.service__item__text {
  font-size: 14px;
  font-weight: 400;
}

#featured {
  padding-bottom: 140px;
}
#featured .featured__icon {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 600;
  color: var(--button-color);
  margin-bottom: 24px;
}
#featured .featured__title {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 60px;
}
#featured .featured__cards__wrapper {
  display: grid;
  grid-gap: 32px;
  grid-template-areas: "item1 item1 item2 item2" "item1 item1 item3 item4";
}
#featured .featured__cards__wrapper .featured__card1 {
  grid-area: item1;
  position: relative;
  background-color: #000;
  width: 100%;
  max-width: 570px;
  height: 600px;
  text-align: center;
  padding-top: 89px;
  border-radius: 4px;
}
#featured .featured__cards__wrapper .featured__card1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#featured .featured__cards__wrapper .featured__card1 .feature__card--title {
  position: absolute;
  bottom: 32px;
  left: 32px;
  width: 100%;
  max-width: 242px;
  text-align: start;
}
#featured .featured__cards__wrapper .featured__card1 .feature__card--title h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 16px;
}
#featured .featured__cards__wrapper .featured__card1 .feature__card--title p {
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  margin-bottom: 16px;
}
#featured .featured__cards__wrapper .featured__card1 .feature__card--title a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
  border-bottom: 1px solid #fafafa;
}
#featured .featured__cards__wrapper .featured__card2 {
  background-color: #000;
  grid-area: item2;
  width: 100%;
  max-width: 570px;
  height: 286px;
  border-radius: 4px;
  position: relative;
  text-align: end;
}
#featured .featured__cards__wrapper .featured__card2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#featured .featured__cards__wrapper .featured__card2 .feature__card--title {
  position: absolute;
  bottom: 32px;
  left: 24px;
  width: 100%;
  max-width: 260px;
  text-align: start;
}
#featured .featured__cards__wrapper .featured__card2 .feature__card--title h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 16px;
}
#featured .featured__cards__wrapper .featured__card2 .feature__card--title p {
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  margin-bottom: 16px;
}
#featured .featured__cards__wrapper .featured__card2 .feature__card--title a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
  border-bottom: 1px solid #fafafa;
}
#featured .featured__cards__wrapper .featured__card3 {
  background-color: #000;
  grid-area: item3;
  width: 100%;
  max-width: 270px;
  height: 284px;
  text-align: center;
  padding-top: 31px;
  position: relative;
  border-radius: 4px;
}
#featured .featured__cards__wrapper .featured__card3 img {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#featured .featured__cards__wrapper .featured__card3 .feature__card--title {
  position: absolute;
  bottom: 32px;
  width: 100%;
  left: 24px;
  max-width: 260px;
  text-align: start;
}
#featured .featured__cards__wrapper .featured__card3 .feature__card--title h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 16px;
}
#featured .featured__cards__wrapper .featured__card3 .feature__card--title p {
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  margin-bottom: 16px;
}
#featured .featured__cards__wrapper .featured__card3 .feature__card--title a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
  border-bottom: 1px solid #fafafa;
}
#featured .featured__cards__wrapper .featured__card4 {
  background-color: #000;
  grid-area: item4;
  width: 100%;
  max-width: 270px;
  text-align: center;
  padding-top: 31px;
  position: relative;
  border-radius: 4px;
}
#featured .featured__cards__wrapper .featured__card4 img {
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
#featured .featured__cards__wrapper .featured__card4 .feature__card--title {
  position: absolute;
  bottom: 32px;
  left: 24px;
  width: 100%;
  max-width: 260px;
  text-align: start;
}
#featured .featured__cards__wrapper .featured__card4 .feature__card--title h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 16px;
}
#featured .featured__cards__wrapper .featured__card4 .feature__card--title p {
  font-size: 14px;
  font-weight: 400;
  color: #fafafa;
  margin-bottom: 16px;
}
#featured .featured__cards__wrapper .featured__card4 .feature__card--title a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
  border-bottom: 1px solid #fafafa;
}
@media (max-width: 1000px) {
  #featured .featured__cards__wrapper {
    grid-template-areas: "item1 item1" "item1 item1" "item2 item2" "item3 item4";
    justify-content: center;
  }
}
@media (max-width: 600px) {
  #featured .featured__cards__wrapper {
    grid-template-areas: "item1 item1" "item1 item1" "item2 item2" "item3 item3" "item4 item4";
  }
  #featured .featured__cards__wrapper .featured__card1 {
    height: 350px;
  }
}
@media (max-width: 600px) {
  #featured {
    padding-bottom: 50px;
  }
}

#login-section {
  padding: 100px 0 140px 0;
}
#login-section .login__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login-section .login__wrapper--left img {
  width: 100%;
  position: relative;
  right: 200px;
}
#login-section .login__wrapper--right {
  width: 100%;
  max-width: 371px;
}
#login-section .login__wrapper--right h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 24px;
}
#login-section .login__wrapper--right p {
  margin-bottom: 48px;
}
#login-section .login__wrapper--right form {
  margin-bottom: 16px;
}
#login-section .login__wrapper--right form input {
  width: 100%;
  padding: 7px;
  margin-bottom: 48px;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2588235294);
}
#login-section .login__wrapper--right form .log {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#login-section .login__wrapper--right form .log a {
  text-decoration: none;
  color: #DB4444;
}
#login-section .login__wrapper--right form button:hover {
  background-color: #E07575;
}
@media (max-width: 1030px) {
  #login-section .login__wrapper {
    justify-content: center;
  }
  #login-section .login__wrapper--left {
    display: none;
  }
  #login-section .login__wrapper--right {
    width: 380px;
    border: 2px solid rgb(229, 226, 226);
    padding: 25px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  #login-section .login__wrapper--right h2 {
    font-size: 32px;
  }
}
@media (max-width: 440px) {
  #login-section .login__wrapper {
    padding-top: -80px;
  }
  #login-section .login__wrapper--right h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  #login-section .login__wrapper--right p {
    margin-bottom: 24px;
  }
  #login-section .login__wrapper--right .log {
    flex-direction: column;
    gap: 15px;
  }
  #login-section .login__wrapper--right .log button {
    padding: 12px 50px;
  }
}

#account {
  padding-top: 80px;
  padding-bottom: 140px;
}
#account .account__wrapper {
  display: flex;
  justify-content: space-between;
}
#account .account__wrapper--left {
  width: 200px;
}
#account .account__wrapper--left > div {
  margin-bottom: 24px;
}
#account .account__wrapper--left > div h3 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}
#account .account__wrapper--left > div div {
  padding-left: 30px;
}
#account .account__wrapper--left > div div .red {
  color: red;
}
#account .account__wrapper--left > div div p {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
}
#account .account__wrapper--right {
  width: 870px;
  padding: 40px 80px;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#account .account__wrapper--right-title {
  font-size: 20px;
  font-weight: 500;
  color: red;
  margin-bottom: 16px;
}
#account .account__wrapper--right .account__information--input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
#account .account__wrapper--right .account__information--input label {
  display: block;
  margin-bottom: 8px;
}
#account .account__wrapper--right .account__information--input input {
  outline: none;
  margin-bottom: 24px;
  width: 100%;
  padding: 13px 16px;
  border: none;
  background-color: #F5F5F5;
}
#account .account__wrapper--right .account__password p {
  margin-bottom: 8px;
}
#account .account__wrapper--right .account__password input {
  outline: none;
  display: block;
  margin-bottom: 24px;
  width: 100%;
  padding: 13px;
  border: none;
  background-color: #F5F5F5;
}
#account .account__wrapper--right .account__button {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 32px;
}
#account .account__wrapper--right .account__button .account__btn1 {
  background-color: transparent;
  color: #000;
  padding: 0;
}
#account .account__wrapper--right .account__button .account__btn1:hover {
  opacity: 0.5;
  background-color: transparent;
}
#account .account__wrapper--right .account__button button:hover {
  background-color: #E07575;
}
@media (max-width: 1260px) {
  #account .account__wrapper {
    flex-direction: column;
  }
  #account .account__wrapper--left {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #account .account__wrapper--right {
    width: 100%;
  }
  #account .account__wrapper--right input {
    width: 100%;
  }
}
@media (max-width: 950px) {
  #account .account__wrapper--right {
    padding: 40px;
  }
}
@media (max-width: 700px) {
  #account .account__wrapper--left {
    flex-direction: column;
  }
  #account .account__wrapper--right {
    padding: 20px;
  }
  #account .account__wrapper .account__information--input {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  #account .account__wrapper .account__button {
    flex-direction: column;
  }
  #account .account__wrapper .account__button button {
    width: 80%;
  }
}

.product__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 130px 0 90px;
}
.product__wrap .product__card__img img {
  width: 100%;
  max-width: 400px;
}
@media (max-width: 980px) {
  .product__wrap {
    flex-direction: column;
  }
}

.product__card__info {
  width: 100%;
  max-width: 500px;
}
.product__card__info__title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 16px;
}
.product__card__info__stars {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__card__info__stars__reviews {
  font-size: 14px;
  font-weight: 400;
}
.product__card__info__stars__stock {
  font-size: 14px;
  font-weight: 400;
  color: #00FF66;
}
.product__card__info__price {
  font-size: 24px;
  font-weight: 400;
  padding: 16px 0 24px;
}
.product__card__info__desc {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  max-width: 370px;
  padding: 0 0 24px;
  border-bottom: 1.5px solid gray;
  margin-bottom: 24px;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.product__card__info__color {
  display: flex;
  gap: 5px;
}
.product__card__info__size {
  display: flex;
  align-items: center;
  gap: 15px;
}
.product__card__info__size button {
  width: 32px;
  height: 32px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid gray;
  border-radius: 3px;
  transition: 0.3s;
}
.product__card__info__size button:hover {
  transform: scale(1.04);
  background-color: #DB4444;
  color: white;
}
.product__card__info__size button:active {
  transform: scale(0.8);
}
.product__card__info__size p {
  font-size: 20px;
  font-weight: 400;
  padding: 24px 10px 24px 0;
}

.counter {
  display: flex;
  align-items: center;
  gap: 10px;
}
.counter__btns {
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .counter__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.number__counter {
  text-align: center;
  border-radius: 25px;
}
.number__counter h1 {
  display: block;
  font-size: 20px;
  font-weight: 500;
  width: 80px;
  color: black;
  padding: 3px 15px;
  border: 1px solid gray;
}
.number__counter button {
  padding: 10px 8px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-weight: 500;
  transition: 0.05s;
}
.number__counter button img {
  width: 15px;
  align-items: center;
  display: flex;
}
.number__counter button:hover {
  transform: scale(1.04);
  background-color: #DB4444;
  color: white;
}
.number__counter button:active {
  transform: scale(1);
}
.number__counter__buy-now {
  background-color: #DB4444 !important;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
  padding: 4px 48px !important;
}

footer {
  padding-top: 80px;
  padding-bottom: 24px;
  background-color: #000;
}
footer .footer__wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: space-between;
  grid-gap: 20px;
  margin-bottom: 50px;
}
footer .footer__wrapper .footer__title a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #fafafa;
}
footer .footer__wrapper .footer__title p {
  font-size: 20px;
  font-weight: 500;
  color: #fafafa;
  margin: 24px 0;
}
footer .footer__wrapper .footer__title span {
  color: #fafafa;
  margin-bottom: 16px;
}
footer .footer__wrapper .footer__title .footer__input {
  border: 1px solid #fafafa;
  display: flex;
  width: 217px;
  border-radius: 4px;
  margin-top: 24px;
}
footer .footer__wrapper .footer__title .footer__input input {
  background-color: transparent;
  border: none;
  width: 160px;
  border-radius: 4px;
  color: #fafafa;
  font-family: poppins;
  padding: 12px 16px;
  display: block;
  margin-right: 15px;
  outline: none;
}
footer .footer__wrapper .footer__title .footer__input img {
  cursor: pointer;
}
footer .footer__wrapper .footer__support {
  width: 176px;
}
footer .footer__wrapper .footer__support h4 {
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}
footer .footer__wrapper .footer__support li {
  padding-bottom: 16px;
}
footer .footer__wrapper .footer__support li a {
  color: #fafafa;
  text-decoration: none;
}
footer .footer__wrapper .footer__support li a:hover {
  text-decoration: underline;
}
footer .footer__wrapper .footer__account {
  width: 123px;
}
footer .footer__wrapper .footer__account h4 {
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}
footer .footer__wrapper .footer__account li {
  padding-bottom: 16px;
}
footer .footer__wrapper .footer__account li a {
  color: #fafafa;
  text-decoration: none;
}
footer .footer__wrapper .footer__account li a:hover {
  text-decoration: underline;
}
footer .footer__wrapper .footer__link {
  width: 110px;
}
footer .footer__wrapper .footer__link h4 {
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 24px;
}
footer .footer__wrapper .footer__link li {
  padding-bottom: 16px;
}
footer .footer__wrapper .footer__link li a {
  color: #fafafa;
  text-decoration: none;
}
footer .footer__wrapper .footer__link li a:hover {
  text-decoration: underline;
}
footer .footer__wrapper .footer__download h4 {
  font-size: 20px;
  font-weight: 500;
  color: #fafafa;
  margin-bottom: 24px;
}
footer .footer__wrapper .footer__download p {
  color: #fafafa;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: 0.7;
}
footer .footer__wrapper .footer__download .footer__qr {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
footer .footer__wrapper .footer__download .footer__qr div {
  display: flex;
  flex-direction: column;
}
footer .footer__wrapper .footer__download .footer__qr div img {
  padding-top: 5px;
  padding-bottom: 5px;
}
footer .footer__wrapper .footer__download .footer__net {
  display: flex;
  gap: 24px;
  align-items: center;
}
@media (max-width: 1250px) {
  footer .footer__wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
}
@media (max-width: 780px) {
  footer .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}
@media (max-width: 540px) {
  footer .footer__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }
}
footer .footer__bottom {
  text-align: center;
  color: rgba(255, 255, 255, 0.2901960784);
  padding: 16px 10px;
  border-top: 1px solid gray;
}