.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background: white;
  color: $primaryCl;
  border-bottom: 1px solid gray;

  &__top {
    background: #000;
    &__item {
      color: white;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 15px;
      padding: 12px 0;

    }
    @media (max-width:750px) {
      display: none;
    }

    p {
      color: #FAFAFA;
      font-size: 14px;
      font-weight: 400;
    }
    a {
      color: #FAFAFA;
      font-size: 14px;
      font-weight: 600;
      border-bottom: 1.5px solid #FAFAFA;
    }
  }


  .header__navbar {
    justify-content: space-between;
    padding: 30px 0 16px;
  }

  &__logo {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 20px;

    &__search {
      position: absolute;
      right: 10px;
      top: 30%;
    }

    &__inp {
      position: relative;
    }

    input {
      outline: none;
      border: none;
      background: rgb(243, 241, 241);
      padding: 10px 35px 10px 10px;
      border-radius: 4px;
      width: 240px;
    }
      
  }
  &__img__icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
  }

  &__list {
    gap: 20px;
  }

  &__item {
    font-weight: 600;
    padding: 4px 0 1px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;

    &:hover {
      border-color: gray
    }
  }

  .loginBtn {
    @include btn();
  }

  &__item--close {
    font-size: 20px;
    color: red;
    display: none;
    cursor: pointer;
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    background: $secondaryCl;

    span {
      width: 25px;
      height: 3px;
      background: $primaryCl;
      border-radius: 2px;
    }
  }

  @media (max-width: 700px) {
    &__btns {
      &__inp {
        display: none;
      }
      img {
        display: none;
      }
    }
  }
}


.shop__link {
  right: 200px;
  span {
    position: absolute;
    top: 0;
    font-weight: 600;
    color: green;
    padding-top: 10px;
  }
}

.show__header__shrink {
  padding: 0;
  box-shadow: 0px 0px 10px rgb(188, 185, 185);
  background: $secondaryCl;
}

@media (max-width: 1000px) {
  .header {
    &__list {
      position: fixed;
      top: 0;
      left: -100%;
      width: 50%;
      background: $secondaryCl;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0px 0px 10px $mainCl;
      transition: 0.5s;
      z-index: 9999;
    }

    &__hamburger {
      display: flex;
    }

    &__show__list {
      left: 0;
    }

    &__item--close {
      position: absolute;
      display: block;
      color: red;
      top: 15px;
      right: 20px;
    }

    &__show__left {
      left: -100%;
    }
  }
}

@media (max-width: 360px) {
  .header {
    &__list {
      width: 80%;
    }
  }
}
