//  for extends 

%button {
    padding: 16px 48px;
    background-color: #DB4444;
    color: #F5F5F5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.2s ease;
}


// @exstend %extandName; call to extend