#account {
    padding-top: 80px;
    padding-bottom: 140px;

    .account__wrapper {
        display: flex;
        justify-content: space-between;

        &--left {
            width: 200px;

            >div {
                margin-bottom: 24px;

                h3 {
                    font-weight: 500;
                    font-size: 16px;
                    margin-bottom: 16px;
                }

                div {
                    padding-left: 30px;

                    .red {
                        color: var(--button-color);
                    }

                    p {
                        color: rgba(0, 0, 0, 0.5);
                        margin-bottom: 8px;
                    }
                }
            }
        }

        &--right {
            width: 870px;
            padding: 40px 80px;

            &-title {
                font-size: 20px;
                font-weight: 500;
                color: var(--button-color);
                margin-bottom: 16px;
            }

            .account__information--input {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                label {
                    display: block;
                    margin-bottom: 8px;
                }

                input {
                    outline: none;
                    margin-bottom: 24px;
                    width: 330px;
                    padding: 13px 16px;
                    border: none;
                    background-color: #F5F5F5;
                }
            }

            .account__password {
                p {
                    margin-bottom: 8px;
                }

                input {
                    outline: none;
                    display: block;
                    margin-bottom: 24px;
                    width: 100%;
                    padding: 13px;
                    border: none;
                    background-color: #F5F5F5;
                }
            }

            .account__button {
                display: flex;
                justify-content: end;
                align-items: center;
                gap: 32px;

                .account__btn1 {
                    background-color: transparent;
                    color: #000;
                    padding: 0;

                    &:hover {
                        opacity: 0.5;
                        background-color: transparent
                    }
                }

                button {
                    @extend %button;

                    &:hover {
                        background-color: #E07575;
                    }
                }
            }
        }
    }
}