#category {
    padding-top: 60px;
    padding-bottom: 70px;

    .category__icon {
        display: flex;
        align-items: center;
        gap: 16px;
        font-weight: 600;
        color: var(--button-color);
        margin-bottom: 24px;
    }

    .category__title {
        font-family: Inter;
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 60px;
    }

    .category__cards__wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 30px;
        padding-bottom: 70px;
        border-bottom: 1px solid #00000030;

        .category__card {
            width: 100%;
            max-width: 170px;
            padding: 25px 0;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.30);
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            transition: all 0.2s ease;

            &:hover {
                background-color: #DB4444;

                p {
                    color: #fafafa;
                    transition: all 0.2s ease;
                }

                svg {
                    path {
                        stroke: white;
                    }

                    line {
                        stroke: white;
                    }
                }

                fill: white;
            }

            
        }

        p {
            margin-top: 16px;
        }
        @media (max-width:1150px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width:550px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}