.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    padding: 50px 0;

    .product__card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        width: 270px;
        border-radius: 15px;
        &__image {
            padding: 15px;
            width: 100%;
            object-fit: contain;
            height: 230px;
        }
        &__info {
            padding: 25px;
        }
    }
}