.product__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 130px 0 90px;
    .product__card__img {
        img {
            width: 100%;
            max-width: 400px;
        }
    }
    @media (max-width:980px) {
        flex-direction: column;
    }
}

.product__card {
        &__info {
            width: 100%;
            max-width: 500px;
            &__title {
                font-size: 24px;
                font-weight: 600;
                padding-bottom: 16px;
            }
            &__stars {
                display: flex;
                align-items: center;
                gap: 8px;
                &__reviews {
                    font-size: 14px;
                    font-weight: 400;
                }
                &__stock {
                    font-size: 14px;
                    font-weight: 400;
                    color: #00FF66;
                }
            }
            &__price {
                font-size: 24px;
                font-weight: 400;
                padding: 16px 0 24px;
            }
            &__desc {
                font-size: 14px;
                font-weight: 400;
                width: 100%;
                max-width: 370px;
                padding: 0 0 24px;
                border-bottom: 1.5px solid gray;
                margin-bottom: 24px;
                
                display: -webkit-box;
                line-clamp: 3;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
            }

            &__color {
                display: flex;
                gap: 5px;
            }

            &__size {
                display: flex;
                align-items: center;
                gap: 15px;
                button {
                    width: 32px;
                    height: 32px;
                    font-size: 14px;
                    font-weight: 400;
                    border: 1px solid gray;
                    border-radius: 3px;
                    transition: .3s;
                    &:hover {
                        transform: scale(1.04);
                        background-color: #DB4444;
                        color: white;
                    }
                    &:active {
                        transform: scale(.8);
                    }
                }
                p {
                    font-size: 20px;
                    font-weight: 400;
                    padding: 24px 10px 24px 0;
                }
            }
        }
    }
