$primaryCl: #394149;
$secondaryCl: #ffffff;
$mainCl: green; // Saytdagi asosiy rang
$btnCl: #f58a071a; // button background color
$backBlue: #dceaf5; // ko'k background sectionlar uchun
$titleCl: #0d1317; // Title color (h1-h6)
$descCl: #5b5b5b; // Description color (p)
$footCl: #063255; // footer backgroun color
