#login-section {
    padding: 100px 0 140px 0;
    .login__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--left {
            img {
                width: 100%;
                position: relative;
                right: 200px;
            }
        }
        &--right {
            width: 100%;
            max-width: 371px;
            h2 {
                font-size: 36px;
                font-weight: 500;
                margin-bottom: 24px;
            }

            p {
                margin-bottom: 48px;
            }

            form {
                margin-bottom: 16px;

                input {
                    width: 100%;
                    padding: 7px;
                    margin-bottom: 48px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #00000042;
                }
                .log {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        text-decoration: none;
                        color: #DB4444;
                    }
                }
                button {
                    @extend %button;
                    &:hover {
                        background-color: #E07575;
                    }
                }
            }
        }

        @media (max-width:1030px) {
            justify-content: center;
            &--left {
                display: none;
            }

            &--right {
                width: 380px;
                border: 2px solid rgb(229, 226, 226);
                padding: 25px;
                border-radius: 15px;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
                h2 {
                    font-size: 32px;
                }
            }
        }
        @media (max-width:440px) {
            padding-top: -80px;
            &--right {
                h2 {
                    font-size: 28px;
                    margin-bottom: 20px;
                }
                p {
                    margin-bottom: 24px;
                }
                .log {
                    flex-direction: column;
                    gap: 15px;

                    button {
                        padding: 12px 50px;
                    }
                }
            }
        }
    }
}